
     <div *ngIf="this.userSearchForm">

       <form [formGroup]="userSearchForm" (ngSubmit)="onSubmit()">


<mat-card>
  <mat-card-title>User seach</mat-card-title>
  <mat-card-content>
<div> 
        <mat-form-field appearance="outline" >
            <mat-label>Name</mat-label>
            <input matInput placeholder="Name" formControlName="name">
            <mat-hint>This is the user's full name</mat-hint>
        </mat-form-field>
    
        <mat-form-field appearance="outline" >
            <mat-label>Username</mat-label>
            <input matInput placeholder="Username" formControlName="username">
        </mat-form-field>
    
        <mat-form-field appearance="outline" >
            <mat-label >Email</mat-label>
            <input matInput formControlName="email" placeholder="Email">
        </mat-form-field>
    
       
    
      </div>   


  </mat-card-content>
  <mat-card-actions align="end">
    <button  mat-raised-button color="primary" type="submit" [disabled]="!userSearchForm.valid">Search</button>
    <button  mat-raised-button  type="reset" >Clear form</button>
  
  </mat-card-actions>
</mat-card>

</form>
</div>

  <div *ngIf="displayedUsers">
      <div *ngFor="let user of displayedUsers">
        <app-user-item [user]=user></app-user-item>
      </div>
  </div>